@charset "utf-8";

.red {
    color: red;
    background-color: pink;
    width: 30%;
    text-align: center;
    border-bottom: solid 2px red;
}

.error {
    color: red;
    background-color: pink;
    margin-left: 5px;
}